/.Xauthority
/.bash_history
/.bash_logout
/.bashrc
/.cache
/.codex
/.conda
/.condarc
/.config
/.copilot
/.cupy
/.cursor
/.cursor-server
/.dotnet
/.ipython
/.local
/.nv
/.profile
/.triton
/.viminfo
/.vscode-server
/.wget-hsts
/Anaconda3-2025.06-0-Linux-x86_64.sh
/Project
/Spike-Unrolling
/SpikeUnroll-Tmp
/anaconda3
/data
/zuoye